{% extends 'base/base.html' %}
{% load static  %}


{% block content %}
<h1>Shop items</h1>
<div class="row card-column">
  {% for object in object_list %}
  <div class="column">
    <div class="card">
      <img src="{{object.image.url}}" alt="{{object.title}}" style="width:100%">
      <h2>{{object.title}}</h2>
      <p class="price">{{object.variable_price}}</p>
      <p>{{object.description}}</p>
      <p><a class="btn btn-primary" href="{{object.get_absolute_url}}" >&#x2607;</a></p>
    </div>
  </div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>
{% endblock %}